{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block home %}active{% endblock home %}
{% block body %}
<section class="home" id="home">
        <div class="home-content">
            <img src="https://i.postimg.cc/nLfQk7DG/Blog-post-rafiki.png" alt="" srcset="">
        </div>
        <div class="home-content">
            <p class="text-1">Hello, Welcome to </p>
            <p class="text-2">Forn bits</p>
            <button><a href="/blogs">Explore blogs</a></button>
            <button style="background-color:#DBCBBD ;"><a href="/policypages">Policy pages</a></button>


        </div>
</section>
{% endblock body %}