{% extends 'base.html' %}
{% block metaDescription %}Welcome to fornbits blogs. We provide simple and easy explanation of any topics in our blogs. Get everyday 100% guranted knowledge by visiting our website {% endblock metaDescription %}
{% block  keyword %}forn bits, fornbits, fornbits.com, FORNBITS, Fornbits,forn, bits , FORN, fornbits blogs, fornbits tech blogs, forn blogs, fornbits new blogs, fornbits herokuapp, fornbits.herokuapp.com{% endblock  keyword %}
{% block title %}Home{% endblock title %}
{% block home %}active{% endblock home %}
{% block body %}
<section class="home" id="home">
        <div class="home-content">
            <img src="https://i.postimg.cc/nLfQk7DG/Blog-post-rafiki.png" alt="" srcset="">
        </div>
        <div class="home-content">
            <p class="text-1">Hello, Welcome to </p>
            <p class="text-2">Forn bits</p>
            <button><a href="/blogs">Explore blogs</a></button>
            <button style="background-color:#DBCBBD ;"><a href="/policypages">Policy pages</a></button>


        </div>
</section>
{% endblock body %}